*{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Nunito Sans', sans-serif;
}
.container{
    width: 100%;
    height: 200px;
    display: flexbox;
}
.header{
    height: 100px;
    display: flex;
}
.header1{
    width: 10%;
    height: 100%;
}
.header2{
    width: 30%;
    height: 100%;
}
.header3{
    width: 30%;
    height: 100%;
}
.header4{
    width: 30%;
    height: 100%;
}
.aaa{
    width: 100%;
    height: 25%;
    background-color: ;
}
.aa{
    width: 100%;
    height:500px;
    background-color: aqua;
    display: flex;
}
.img1{
    width: 33%;
    height: 100%;
    background-color: red;
}
.img2{
    width: 34%;
    height: 100%;
    background-color: lightsalmon;
}
.img3{
    width: 33%;
    height: 100%;
    background-color: pink;
}
.bottom{
    width: 100%;
    height: 260px;
    background-color: blue;
    display: flex;
}
.left{
    height: 100%;
    width: 30%;
    background-color: cornflowerblue;
}
.bright{
    height: 100%;
    width: 70%;
    background-color: deeppink;
}