<<<<<<< HEAD

  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');


*{
margin: 0;
padding: 0;
font-family: 'Nunito Sans', sans-serif;
}
/* Style the tab */
.hard {
  height: 7vh;
  width: 100%;
  background-color: #FFABAB;
  display: flex;
}
.home {
  height: 100%;
  width: 5%;
  font-size: 250%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop {
  height: 100%;
  width: 5%;
  font-size: 240%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login {
  height: 100%;
  width: 5%;
  font-size: 240%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login i{
  color: red;
}
.container{
width: 100%;
height: 100vh;
background-color: #FFABAB;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.tab {
overflow: hidden;
border: 1px solid #D14D72;
background-color: #FFABAB;
width: 300px;
padding: 6px 12px;
display: flex;
justify-content: s;
}

/* Style the buttons inside the tab */
.tab button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
font-size: 17px;
}
button {
    background-color:  #FFABAB;
    font-size: 1em;
  padding: 2px 4px;
  border: 1px solid #D14D72;
}

/* Change background color of buttons on hover */
.tab button:hover {
background-color: #FFABAB;
}

/* Create an active/current tablink class */
.tab button.active {
background-color: #f3a8a8;
}

/* Style the tab content */
.tabcontent {
display: none;
padding: 6px 12px;
border: 1px solid #D14D72;
border-top: none;
width: 300px;
}  
=======
*{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Nunito Sans', sans-serif;
}
.container{
    width: 100%;
    height: 200px;
    display: flexbox;
}
.header{
    height: 100px;
    display: flex;
}
.header1{
    width: 10%;
    height: 100%;
}
.header2{
    width: 30%;
    height: 100%;
}
.header3{
    width: 30%;
    height: 100%;
}
.header4{
    width: 30%;
    height: 100%;
}
.aaa{
    width: 100%;
    height: 25%;
    background-color: ;
}
.aa{
    width: 100%;
    height:500px;
    background-color: aqua;
    display: flex;
}
.img1{
    width: 33%;
    height: 100%;
    background-color: red;
}
.img2{
    width: 34%;
    height: 100%;
    background-color: lightsalmon;
}
.img3{
    width: 33%;
    height: 100%;
    background-color: pink;
}
.bottom{
    width: 100%;
    height: 260px;
    background-color: blue;
    display: flex;
}
.left{
    height: 100%;
    width: 30%;
    background-color: cornflowerblue;
}
.bright{
    height: 100%;
    width: 70%;
    background-color: deeppink;
}
>>>>>>> c1daf29225b072e56254622d42f934819bf1315f
