
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
section{
    padding: 2rem 9%;
}
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: white;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0,.1);
}
header .logo{
    color: black;
    font-family: 'Lobster', cursive;
    font-size: xx-large;
}
header .logo span{
    color: #FFABAB;
    font-family: 'Lobster', cursive;
}
header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}
header .navbar a:hover{
    color: #FFABAB;
}

header .icons i:hover{
    color: #FFABAB;
}
header .icons i{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: #FFABAB;
    background-size: cover;
    background-position: center;
}
.home .content{
    max-width: 50rem;
}
.home .content h3{
    font-size: 6rem;
    color: #333;
}
.home .content span{
    font-size: 3.5rem;
    color: white;
    padding: 1rem 0;
    line-height: 1.5
}
.home .content p{
    font-size: 1.5rem;
    color: #333;
    padding: 1rem 0;
    line-height: 1.5
}